@import '../common/components/button/Button.module.scss';
@import '../common/sass/variables';

.homeWorkBlock {
  padding: 30px;
  height: 80vh;
  background-color: $bgColor;
  display: flex;
  flex-direction: column;
  align-items: center;

  .homeWork {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;


      div {
        font-size: 10px;
        padding: 10px;
      }



      div {
      font-size: 20px;
      padding: 10px;
    }
    .hand{
      width: 75px;
    }
      .name  {
          font-size:35px
      }
  }
}



