@import '../common/sass/variables';
.projectBlock {
  min-height: 120vh;
  background-color: $phoneColor;

  .projectsContainer {
    padding: 30px;
    flex-direction: column;
    box-sizing: border-box;

    .projects {
      margin-top: 30px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      @media screen and (max-width: 1002px) {
        justify-content: center;

      }
    }
  }
}



