@import '../common/sass/mixins';
@import '../common/sass/variables';

.mainBlock {
  margin-top: 80px;
  min-height: 150vh;
  background-color: $phoneColor;
  position: relative;
  z-index: 3;

  .particles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
  }

  .mainContainer {
    display: flex;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 835px) {
      justify-content: center;
    }

    .greeting {
      @include text(40px, #ffffff);
      width: 500px;
      height: 500px;
      margin-bottom: 15px;
      margin-left: 15px;

      span {
        letter-spacing: 5px;
      }

      .name {
        position: relative;
        display: inline-block;


        &:before {
          content: '';
          position: absolute;
          height: 6px;
          width: 100%;
          background-color: red;
          bottom: 0;
          z-index: -1;
        }
      }
    }

    .photo {
      margin-top: 60px;
      width: 300px;
      @include image(500px);
      border-right: solid 4px red;
      border-bottom: solid 4px red;
    }

  }
}













