@import '../common/sass/mixins';

.mainBlock {
  margin-top: 80px;
  min-height: 150vh;
  background-color: #1c1f2c;
  position: relative;
  z-index: 3;

  .particles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
  }

  .mainContainer {
    display: flex;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 835px) {
      justify-content: center;
    }

    .greeting {
      @include text(40px, #ffffff);
      width: 300px;
      height: 500px;
      margin-bottom: 15px;
      margin-left: 15px;

      h5 {
        position: relative;
        display: inline-block;
        letter-spacing: 5px;

        &:before {
          content: '';
          position: absolute;
          height: 7px;
          width: 100%;
          background-color: red;
          bottom: 0;
          z-index: -1;
        }
      }
    }

    .photo {
      margin-top: 60px;
      width: 300px;
      @include image(500px);
      border-right: solid 2px red;
    }

  }
}













