@import '../common/sass/mixins';

.mainBlock {
  min-height: 180vh;
  background-color: #1c1f2c;

  .particles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
  }

  .mainContainer {
    @media screen and (max-width: 835px) {
      justify-content: center;
    }

    .greeting {
      @include text(40px, #ffffff);
      width: 300px;
      margin-bottom: 15px;
      margin-left: 15px;

      b {
        position: relative;
        display: inline-block;
        letter-spacing: 5px;

        &:before {
          content: '';
          position: absolute;
          height: 20px;
          width: 100%;
          background-color: red;
          bottom: 0;
          z-index: -1;
        }
      }
    }

    .photo {
      margin-top: 60px;
      width: 300px;
      @include image(500px);

      &:before {
        margin-top: 20px;
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        border: 5px solid #ecdfc6;
        left: 10px;
        top: 15px;

        z-index: -1;
      }
    }

  }
}













