@import "../common/sass/mixins";

.nav {
  width: 340px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  cursor: pointer;
  @media screen and (max-width: 460px) {
    justify-content: center;
  }

  a {
    @include text(18px, black, 16px);
    margin-right: 10px;

    &:hover {
      text-decoration: none;
      color: blue;
    }

    .active {
      color: blue;
    }
  }


}
