@import '../common/sass/variables';

.title {
  color: gainsboro;
  background-color: #343333;
}

.footerBlock {
  height: 100vh;
  background-color: $bgSecondColor;

  a {
    text-decoration: none;
    color: white;
    background-color: #555454;
  }
}

.footerContainer {
  flex-direction: column;
}

.field {
  display: flex;
  width: 50%;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;

}

.item_grew {
  width: 105px;
}